

.fondoBanner{
   background-color: black;
  
}

.navbar {
   display: flex;
   justify-content:space-between;
}

.brand span {
   color:green;


}

.menu a {
   color: #fff;
}

.banner{
   background-image: url("../img/banner.jpg");
   padding: 25%;
   background-attachment: fixed;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");